#search-component {

    nav {
        background-color: #ffffff;
        
        &.fixed-top {
            border-bottom: 1px solid lightgray;
            height: 4rem;
        }

        &.fixed-bottom {
            border-top: 1px solid lightgray;
            height: 6.5rem;

            @media (min-width: 768px) {
                height: 4rem;

                .row {
                    width: 100%;
                }
            }
        }
    
        input {
    
            &.form-control {
                border: 0;
    
                &:focus {
                    border-color: unset;
                    outline: unset;
                    box-shadow: unset;
                }
    
            }
    
        }
    
        .input-group-text {
            background-color: unset;
            border: unset;
            color: #886ab5;
            font-size: 21px;
            cursor: pointer;
        }
    
    }

    .page-container {
        padding: 5rem 0 7.5rem;

        @media (min-width: 768px) {
            padding-bottom: 5rem;
        }

        #averages-section {

            .row-flex {
                display: flex;
                flex-wrap: wrap;

                .card {
                    color: #ffffff;
                    border: unset;
                    height: 100%;
                }
                
            }

        }

        #results-section {

            .table {

                thead {

                    th {
                        border-bottom-width: unset;
                        border-bottom: unset;
                    }

                }

                tbody {

                    tr {
                        &:hover {
                            box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
                        }

                        td {
                            vertical-align: middle;
    
                            button {
                                max-width: 500px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: #886ab5;
                            }

                            &.text-orange {
                                color: orange;
                                font-weight: 700;
                            }
    
                        }

                    }

                }

            }

        }

    }

    .bg-primary-300 {
        background-color: #a38cc6;
    }

    .bg-warning-400 {
        background-color: #ffca5b;
    }

    .bg-warning-200 {
        background-color: #ffdb8e;
        color: rgba(0,0,0,.8);
    }

    .bg-success-200 {
        background-color: #4de5d5;
    }

    .bg-info-200 {
        background-color: #6ab8f7;
    }

}

.popover {
    padding: 0.5rem;
    max-width: 320px!important;

    @media (min-width: 768px) {
        max-width: 500px!important;
        padding: 1rem;
    }

    img {
        max-width: 120px;

        @media (min-width: 768px) {
            max-width: 200px;
        }

    }

    p {

        b {
            font-size: 24px;
        }

    }

    .text-stars {
        color: #886ab5;

        i {
            font-size: 24px;
        }

    }

}